:root {
    /* Color Palette */
    --brand-green: #a4d65e;     /* Primary button color */
    --brand-purple: #4b2c73;    /* Header and navigation background */
    --brand-dark: #333333;      /* Headings and primary text */
    --text-grey: #666666;       /* Secondary text */
    --bg-light: #ffffff;        /* Main background */
    --white: #ffffff;
    
    /* Typography */
    --font-main: 'Segoe UI', sans-serif;
    
    /* max contend Width */
    --container-width: 1200px;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--brand-dark);
    background-color: var(--bg-light);
    line-height: 1.6;
}

/* Reusable Components */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--brand-green);
    color: var(--brand-dark); /* Text */
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* Hier können wir spielen */

/* 1. Header LERA */
.header {
    background-color: var(--brand-green);
    padding: 40px;
        
}

/* 2. Hero LERA */
.hero {
    background-color: var(--brand-green); 
    padding: 40px;
    
}

/* 3. Tagesanbeot THOMAS */
.tagesanbeot {
    background-color: var(--brand-purple);
    color: var(--white);
    padding: 40px;
}

/* 4. Vorstellung Firma THOMAS */
.vorstellung {
    background-color:  var(--brand-purple);
    color: var(--white);
    padding: 40px;
}

/* 5. Producte LERA */
.produkte{
    background-color:var(--brand-green);
    padding: 40px;
}

/* 6. Dienstleistungen LERA */
.dienstleistungen{
    background-color: var(--brand-green);
    padding: 40px;
}

/* 7. Unsere Leasingpartner THOMAS */
.partner {
    background-color: var(--brand-purple);
    color: var(--white);
    padding: 40px;
}

/* 8. Footer: Thomas */
.footer {
    background-color: var(--brand-purple);
    color: var(--white);
    padding: 40px;
}
